/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
// import PropTypes from 'prop-types';

function {{ properCase name }}() {
  return (
    <div>
      {{ properCase name }}
    </div>
  );
}

{{ properCase name }}.defaultProps = {};
{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
