/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
// import PropTypes from 'prop-types';
// import styled from 'styled-components';

/* eslint-disable react/prefer-stateless-function */
class {{ properCase name }} extends {{{ type }}} {
  render() {
    return (
      <div>
        {{ properCase name }}
      </div>
    );
  }
}

{{ properCase name }}.defaultProps = {};
{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
